 <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="customer" class="springAssignment.Customer">
		<property name="customerId" value="1"/>
		<property name="customerName" value="Ramesh"/>
		<property name="customerContact" value="123456"/>
		<property name="customerAddress" >
			<bean class="springAssignment.Address">
				<property name="street" value="first street"/>
				<property name="city" value="Lucknow"/>
				<property name="state" value="Uttar Pradesh"/>
				<property name="zip" value="25"/>
				<property name="country" value="India"/>
			</bean>
		</property>
	</bean>
</beans>